.cv {
    width: 90%;
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
}

.mainArea {
    padding: 0 40px;
}

.languageButton {
    position: relative;
    float: right;
    border: 0;
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 0 10px;
    margin: 20px 20px 0 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #33adff;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: black 3px 3px 6px;
}

.languageButton:hover {
    background-color: #9ac0cd;
}

input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}